body{
    display: flex;
    justify-content: center;
    background-color: #1450A3;
}

.container{
    margin-top:1rem;
    border:  3px solid transparent;
    border-radius:20px;
    min-height:500px;
    min-width:350px;
    padding:1rem;
    box-shadow:2px 3px 4px black;
    background: white;
}
.container h1{
    text-align:center;
}